*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Lato-Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100%;
    margin: 0;
    background-color: rgb(250, 250, 250);
}

.disappear {
    display: none !important;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.container-container {
    min-height: calc(100vh - 2.5em);
}

.tagline {
    margin-block-start: 0.3em;
    margin-block-end: 0.5em;

    font-size: 1.5em;
    font-weight: 600;
    font-family: Noto-Regular;
    line-height: 1;
}


.page-container {
    width: fit-content;
    height: fit-content;
}

.page {
    margin-block-start: 15px;
    cursor: pointer;
}

.galleryPagePrev,
.galleryPageCurr,
.galleryPageNext,
.memePagePrev,
.memePageCurr,
.memePageNext {
    margin-block-start: 0.62em;
    height: 40px;
    width: 40px;

    background-color: rgba(0, 0, 0, 0.055);
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.256);

    text-align: center;
    font-size: 1.8em;

    transition: background-color 300ms;

    box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

.page i {
    padding: 0.25em;
    padding-inline: 0.4em;
    border-radius: 5px;
    direction: ltr;

    font-size: 2em;

    transition: background-color 300ms;
}

/* Apply a transform only if the document is in RTL mode */
[dir="rtl"] .icon-correct {
    transform: scaleX(-1);
}

.galleryPageCurr,
.memePageCurr {
    background-color: rgb(255, 255, 255);
}

.gallerPagePrev:hover,
.galleryPageCurr:hover,
.galleryPageNext:hover,
.memePagePrev:hover,
.memePageCurr:hover,
.memePageNext:hover,
.page i:hover {
    background-color: #d7d7d7bf;
}