
@import url(base.css);
@import url(typography.css);
@import url(layout.css);
@import url(header.css);
@import url(gallery.css);
@import url(editor.css);
@import url(saved-memes.css);
@import url(footer.css);


@media (width < 1140px) {

    .main-container {
        grid-template-columns: minmax(30px, 1fr) 1fr minmax(30px, 1fr);
    }

    .sub-header {
        width: 834px;
    }

    .gallery-container {
        width: 800.5px;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .search-container {
        grid-auto-flow: row;
        grid-template-columns: 10fr 1fr;
        row-gap: 0.5em;

        justify-items: center;
    }

    .search-input {
        margin-inline-end: 0;
    }

    .keyword-display-container {
        grid-column: 1 / -1;
    }



    .editor-container {
        margin-block-end: 1em;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
    }

    .link-container {
        grid-row: 3;
    }

    .link-button-container>a {
        font-size: 1.05em;
        width: 150px;
    }


    .saved-memes-container {
        width: 800px;
    }

    .saved-memes {
        grid-template-columns: 1fr 1fr;
        column-gap: 0.5em;
    }
}

@media (width < 930px) {

    .main-container {
        grid-template-columns: minmax(20px, 1fr) 1fr minmax(20px, 1fr);
    }

    .sub-header {
        width: 634px;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .logo {
        justify-self: center;
    }

    .gallery-container {
        width: 600px;
    }

    .gallery {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .search-container {
        grid-template-columns: 8fr 1fr;
    }




    .saved-memes-container {
        width: 600px;
    }

    .saved-memes {
        grid-template-rows: repeat(6, auto);
        grid-template-columns: 1fr;
    }
}


@media (width < 732px) {

    .main-container {
        grid-template-columns: minmax(10px, 1fr) 1fr minmax(10px, 1fr);
    }

    .sub-header {
        width: 500px;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .logo {
        justify-self: center;
    }

    .gallery-container {
        width: 465px;
    }

    .gallery {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .search-container {
        grid-template-columns: 8fr 1fr;
    }




    .saved-memes-container {
        width: 500px;
    }

    .saved-memes {
        grid-template-rows: repeat(6, auto);
        grid-template-columns: 1fr;
    }
}