*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: rgba(242, 242, 242, 0.29);
}


.disappear {
    display: none !important;
}



.main-container {
    display: grid;

    justify-items: center;

    grid-template-columns: minmax(40px, 1fr) 1fr minmax(40px, 1fr);
}

header {
    margin-block: 0.5em;

    width: 100%;
    grid-column: 1 / -1;

    display: grid;

    grid-template-columns: subgrid;

    background-color: #e8e8e8;
}

.sub-header {
    grid-column: 2;

    display: grid;
    grid-auto-flow: column;

    grid-template-columns: 1fr 1fr;

    width: 1034px;
}

.logo {
    padding-block: 0.1em;
    padding-inline: 0.4em;

    font-size: 2em;
    font-weight: 500;

    /* border: 1px solid rgba(0, 0, 0, 0.205); */
    border-radius: 5px;

    justify-self: start;
    align-self: center;

    cursor: pointer;
}

.nav-container {
    /* margin-block: 1em; */

    display: grid;
    grid-auto-flow: column;

    justify-items: center;
}

.nav-container>div {
    padding-inline: 1em;
    padding-block: 0.5em;

    font-size: 1.5em;
    /* border: 1px solid rgba(0, 0, 0, 0.205); */
    border-radius: 5px;

    cursor: pointer;
}






.gallery-container {
    padding: 0.75em;
    margin-inline: 0.75em;
    margin-block-end: 1em;

    grid-column: 2;

    width: 1010.5px;

    display: grid;
    justify-items: center;

    grid-template-columns: auto auto;
    column-gap: 1em;

    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.258);
    border-radius: 5px;
}

.gallery-search {
    grid-column: 1;

    margin-block-end: 0.5em;
    padding-inline: 0.5em;
    padding-block: 0.25em;
    width: 100%;

    justify-self: center;

    border: 2px solid rgba(0, 0, 0, 0.233);
    border-radius: 3px;

    font-size: 1.25em;
}

.keyword-display-container {
    grid-column: 2;

    margin-block-end: 0.5em;

    width: 100%;

    display: grid;
    justify-items: center;

    border: 2px solid rgba(0, 0, 0, 0.233);
    border-radius: 3px;
}

.keyword-display {
    display: grid;
    grid-auto-flow: column;
    gap: 1em;

    width: fit-content;
}

.keyword-display>div {
    cursor: pointer;

    margin-block: auto;
}


.gallery {
    grid-column: 1 / -1;
    display: grid;
    column-gap: 5px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.gallery img {
    width: 100%;
    cursor: pointer;
}



.editor-container {
    margin-inline: 0.75em;

    grid-column: 2;

    width: fit-content;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;

    background-color: white;
}

.canvas-container {
    justify-self: end;

    height: 503px;

    border: 2px solid rgba(0, 0, 0, 0.212);
    border-radius: 7px;

}

canvas {
    border-radius: 5px;
}



.options-container {
    justify-self: start;
    padding: 1em;

    display: grid;

    width: 500px;
    height: 503px;

    border: 2px solid rgba(0, 0, 0, 0.212);
    border-radius: 7px;
}

.options {
    display: grid;

    grid-auto-flow: column;

    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;

    height: fit-content;
}

.options input {
    padding-inline-start: 0.3em;

    justify-self: center;

    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.212);
    border-radius: 5px;
}



.options>div:not(:first-child) {
    margin-block-start: 2em;

    grid-row: 2;
    gap: 1.25em;
}

.options>div:nth-child(3),
.options>div:nth-child(4) {
    gap: 0.3em
}

.options>div:first-child {
    grid-column: 1 / -1;
}

.options div {
    display: grid;

    justify-items: center;

    height: fit-content;

}

.options label {
    font-size: 1.25em;
}

.options span {
    font-size: 1.5em;

}


input[type="range"] {
    padding: 0;
    margin: 0;
    appearance: none;
    height: 0px;
    border: none;
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    /* width: 100%; */
    padding: 0;
    height: 13px;
    cursor: pointer;
    background: #000000;
    border-radius: 5px;
    margin-block-start: -5px;

}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #333;
    margin-block-start: -5px;
}



#font-color,
#stroke-color {
    appearance: none;
    padding: 0;

    border-radius: 2px;

    height: 1.5em;
    width: 1.5em;
}

#font-color::-webkit-color-swatch-wrapper,
#stroke-color::-webkit-color-swatch-wrapper {
    padding: 0;
}

#font-color::-webkit-color-swatch,
#stroke-color::-webkit-color-swatch {
    border: 0px
}




.download-container {
    margin-block-start: 0.5em;

    grid-column: 1 / -1;
    grid-row: 2;

    display: grid;
    grid-auto-flow: column;

    justify-items: center;
}

.download-button-container {
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
}

.download-button-container > a {
    padding-inline: 5px;
    padding-block: 2px;

    text-decoration: none;
    font-size: 1.5em;
    color: inherit;
    background-color: white;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;

    transition: background-color 300ms;
}

.download-button:hover {
    background-color: rgba(0, 0, 0, 0.034);
}


.saved-memes-container {
    padding: 0.75em;
    margin-inline: 0.75em;
    margin-block-end: 1em;

    grid-column: 2;

    width: 1010.5px;

    display: grid;
    justify-items: center;

    grid-template-columns: auto auto;
    column-gap: 1em;

    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.258);
    border-radius: 5px;
}

.saved-memes {
    grid-column: 1 / -1;
    display: grid;
    column-gap: 5px;

    grid-template-columns: 1fr 1fr 1fr;
}

.saved-memes img {
    width: 100%;
    cursor: pointer;
}



footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: 3em;

    background-color: #e8e8e8;
}