*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: rgba(242, 242, 242, 0.29);
}


.disappear {
    display: none !important;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}



.main-container {
    display: grid;

    justify-items: center;

    grid-template-columns: minmax(40px, 1fr) 1fr minmax(40px, 1fr);
}

header {
    margin-block-start: 0.5em;
    margin-block-end: 1em;

    width: 100%;
    grid-column: 1 / -1;

    display: grid;

    grid-template-columns: subgrid;

    background-color: #e8e8e8;
}

.sub-header {
    grid-column: 2;

    display: grid;
    grid-auto-flow: column;

    grid-template-columns: 1fr 1fr;

    width: 1034px;
}

.logo {
    padding-block: 0.1em;
    padding-inline: 0.4em;

    font-size: 2em;
    font-weight: 500;

    /* border: 1px solid rgba(0, 0, 0, 0.205); */
    border-radius: 5px;

    justify-self: start;
    align-self: center;

    cursor: pointer;
}

.nav-container {
    /* margin-block: 1em; */

    display: grid;
    grid-auto-flow: column;

    justify-items: center;
}

.nav-container>div {
    padding-inline: 1em;
    padding-block: 0.5em;

    font-size: 1.5em;
    /* border: 1px solid rgba(0, 0, 0, 0.205); */
    /* border-radius: 5px; */

    cursor: pointer;

    transition: background-color 600ms;
}

.nav-container>div:hover {
    background-color: rgb(240, 240, 240);
}





.gallery-container {
    padding: 0.75em;
    margin-inline: 0.75em;
    margin-block-end: 1em;

    grid-column: 2;

    width: 1010.5px;

    display: grid;
    justify-items: center;

    grid-template-columns: 1fr 1fr;

    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.258);
    border-radius: 5px;
}

.search-container {
    grid-column: 1/-1;

    margin-block-end: 1em;
    padding-inline: 0.4em;

    width: 100%;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 0.15fr 1fr;

}

.search-input {
    margin-inline-end: 0.5em;

    padding-inline: 0.5em;
    padding-block: 0.25em;

    width: 100%;
    height: 100%;

    justify-self: center;

    border: 2px solid rgba(0, 0, 0, 0.233);
    border-radius: 3px;

    font-size: 1.25em;
}

.search-container i {
    padding-inline: 0.5em;
    padding-block: 0.5em;

    width: fit-content;
    height: fit-content;

    background-color: rgba(0, 0, 0, 0.125);
    border-radius: 5px;

    font-size: 1.5em;

    transition: background-color 300ms;

    cursor: pointer;
}

.search-container i:hover {
    background-color: #aeaeaebf;
}


.keyword-display-container {
    margin-block-end: 0.5em;

    width: 100%;
    height: 100%;

    display: grid;
    justify-items: center;

    border: 2px solid rgba(0, 0, 0, 0.233);
    border-radius: 3px;
}

.keyword-display {
    display: grid;
    grid-auto-flow: column;
    gap: 1em;

    width: fit-content;
}

.keyword-display>div {
    cursor: pointer;

    margin-block: auto;
}


.upload-button-container,
.find-button-container {
    margin-block-end: 1em;

    border: 2px solid rgba(0, 0, 0, 0.211);
    border-radius: 5px;
}

.upload-button-container label,
.find-button-container div {
    padding-inline: 1em;
    padding-block: 0.5em;

    display: grid;
    justify-items: center;
    gap: 0.5em;

    transition: background-color 300ms;

    cursor: pointer;
}

.upload-button-container label:hover,
.find-button-container div:hover {
    background-color: #e8e8e893;
}

.upload-button-container span,
.find-button-container span {
    font-size: 1.25em;
}

.upload-button-container i,
.find-button-container i {
    font-size: 3em;
}



.modal-overlay {
    position: fixed;
    inset: 0;
    cursor: pointer;
    pointer-events: none;

    transition: background-color 0.6s;
}

.overlay-on {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
}


.find-image-modal-container {
    position: absolute;

    height: 500px;
    width: 500px;

    top: 150px;
    left: 50%;
    transform: translateX(-50%);

    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(0, 0, 0, 0.211);
    border-radius: 5px;
}

.find-image-modal {
    width: 100%;
    height: 100%;

    display: grid;

    justify-items: center;
    align-items: center;

}

.find-image-search {
    margin-block-start: 1em;

    height: fit-content;

    align-self: start;
}

.find-image-search input {
    padding-block: 0.25em;
    padding-inline-start: 0.5em;
    
    font-size: 1.25em;

    border: 2px solid rgba(0, 0, 0, 0.233);
    border-radius: 3px;
}

.find-image-search i {
    padding: 0.6em;

    background-color: rgba(0, 0, 0, 0.125);
    border: 2px solid rgba(0, 0, 0, 0.211);
    border-radius: 5px;

    transition: background-color 300ms;

    cursor: pointer;

}

.find-image-search i:hover {
    background-color: #aeaeaebf;
}

.image-container {
    height: 375px;
    width: 375px;

    display: grid;
    align-items: center;

    /* border: 2px solid rgba(0, 0, 0, 0.211);
    border-radius: 5px; */
}

.image-container img {
    width: 100%;
}

.add-image {
    padding-block: 0.25em;
    padding-inline: 0.5em;

    border: 2px solid rgba(0, 0, 0, 0.211);
    border-radius: 5px;

    font-size: 1.25em;

    transition: background-color 300ms;
    cursor: pointer;
}

.add-image:hover {
    background-color: #e8e8e893;
}









.gallery {
    grid-column: 1 / -1;
    display: grid;
    column-gap: 5px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.gallery img {
    width: 100%;

    border-radius: 5px;

    cursor: pointer;
}





.editor-container {
    margin-inline: 0.75em;

    grid-column: 2;

    width: fit-content;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;

    background-color: white;
}

.canvas-container {
    justify-self: end;

    height: 503px;

    border: 2px solid rgba(0, 0, 0, 0.212);
    border-radius: 7px;

}

canvas {
    border-radius: 5px;
}



.options-container {
    justify-self: start;
    padding: 1em;

    display: grid;

    width: 500px;
    height: 503px;

    border: 2px solid rgba(0, 0, 0, 0.212);
    border-radius: 7px;
}

.options {
    display: grid;

    grid-auto-flow: column;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 2em;

    height: fit-content;
}


.options>div:first-child {
    grid-column: 1 / -1;

    margin-block-start: 0.5em;

    justify-self: center;
}


.options i {
    padding: 0.25em;
    margin-block: 0.1em;

    justify-self: center;

    font-size: 3em;
    border-radius: 5px;

    transition: background-color 300ms;

}

.options i:hover {
    background-color: #e8e8e893;
}

.options i:first-of-type {
    grid-row: 2;
    grid-column: 1 / 3;

    justify-self: end;
}

.options i:not(:first-of-type) {
    grid-row: 2;
    grid-column: 3 / 5;

    justify-self: start;

}


.font-container,
.color-container {
    grid-row: 3;

    padding-block: 0.5em;
    padding-inline: 1em;

    justify-self: center;

    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: fit-content;

    border: 2px solid rgba(0, 0, 0, 0.234);
    border-radius: 5px;

    transition: opacity 300ms, visibility 300ms
}

.color-container {
    grid-template-rows: 1fr 1fr;

}

.font-container {
    grid-column: 1 / -1;
    width: 90%;
}

.color-container {
    grid-column: 1 / -1;
    width: 50%;
}

.font-container i:nth-child(1),
.font-container i:nth-child(2),
.font-container i:nth-child(3),
.font-container i:nth-child(4) {

    grid-row: 1;

    padding: 0.25em;
    margin-block: 0;

    place-self: center;

    font-size: 2em;
    text-align: center;

    border-radius: 5px;
}

.font-container i:nth-child(1) {
    grid-column: 1;
}

.font-container i:nth-child(2) {
    grid-column: 2;
}

.font-container i:nth-child(3) {
    grid-column: 3;
}

.font-container i:nth-child(4) {
    grid-column: 4;
}


.font-container i:first-of-type:hover {
    background-color: #e8e8e893;
}

.font-container>div,
.color-container>div {
    grid-column: 1 / -1;

    display: grid;

    grid-auto-flow: column;
    grid-template-columns: 1fr auto auto;

    justify-items: center;
}

.font-container>div:first-of-type {
    margin-block-start: 1em;
}



.options label {
    font-size: 1.5em;
    line-height: 145%;
    justify-self: start;
}

.options span {
    font-size: 1.5em;
    width: 1.5em;
    text-align: center;
}

.options input {
    padding-inline-start: 0.3em;

    justify-self: center;

    font-size: 1.75em;
    border: 2px solid rgba(0, 0, 0, 0.212);
    border-radius: 4px;
}









input[type="range"] {
    padding: 0;
    margin: 0.8em;
    appearance: none;
    height: 0px;
    border: none;
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    /* width: 100%; */
    padding: 0;
    height: 13px;
    cursor: pointer;
    background: #000000;
    border-radius: 5px;
    margin-block-start: -5px;

}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #333;
    margin-block-start: -5px;
}



#font-color,
#stroke-color {
    appearance: none;
    padding: 0;

    border-radius: 2px;

    height: 1.5em;
    width: 1.5em;
}

#font-color::-webkit-color-swatch-wrapper,
#stroke-color::-webkit-color-swatch-wrapper {
    padding: 0;
}

#font-color::-webkit-color-swatch,
#stroke-color::-webkit-color-swatch {
    border: 0px
}




.download-container {
    margin-block-start: 0.5em;

    grid-column: 1 / -1;
    grid-row: 2;

    display: grid;
    grid-auto-flow: column;

    justify-items: center;
}

.download-button-container {
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
}

.download-button-container>a {
    padding-inline: 5px;
    padding-block: 2px;

    text-decoration: none;
    font-size: 1.5em;
    color: inherit;
    background-color: white;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;

    transition: background-color 300ms;
}

.download-button-container>a:hover {
    background-color: rgba(0, 0, 0, 0.034);
}


.saved-memes-container {
    padding: 0.75em;
    margin-inline: 0.75em;
    margin-block-end: 1em;

    grid-column: 2;

    width: 1010.5px;

    display: grid;
    justify-items: center;

    grid-template-columns: auto auto;
    column-gap: 1em;

    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.258);
    border-radius: 5px;
}

.saved-memes {
    grid-column: 1 / -1;
    display: grid;
    column-gap: 5px;

    grid-template-columns: 1fr 1fr 1fr;
}

.saved-memes img {
    width: 100%;
    cursor: pointer;
}



footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: 3em;

    background-color: #e8e8e8;
}